{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{url_for('tuning')}}" method=post class=tuning>
    <dl>
      <dd><input type=submit value=Tune>
    </dl>
  </form>
  {% endif %}
  <p>Upload a csv file containing the desired temperature profile.
  <p>The file must only have 2 columns.
  <p>The first column is the integer minute for the profile.
  <p>The second column is the temperature in Fahrenheit at that minute.
    <form action="{{url_for('uploadp')}}" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
{% endblock %}
