{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{url_for('tuning')}}" method=post class=tuning>
      <dl>
        <dd><input type=submit value=Tune>
      </dl>
    </form>
  {% endif %}
  <form action="{{url_for('download')}}" method=post class=download>
    <dl>
      <dd><input type=submit value='Get Data'>
    </dl>
  </form>
  <p>Data file should be renamed with a csv extension to be read.
  <form action="{{url_for('end')}}" method=post class=end>
    <dl>
      <dd><input type=submit value='Cleanup'>
    </dl>
  </form>
{% endblock %}
