{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{url_for('tuning')}}" method=post class=tuning>
    <dl>
      <dd><input type=submit value=Tune>
    </dl>
  </form>
  {% endif %}
    <form action="{{url_for('profile')}}" method=post class=profile>
      <dl>
        <dt>Run Name:
        <dd><input type=text size=18 name=Name>
        <dt>Ramp Up(Deg F/Min):
        <dd><input type=text size=18 name=UR>
        <dt>Hold Temp(Deg F):
        <dd><input type=text size=18 name=HoldT>
        <dt>Hold Time(Min):
        <dd><input type=text size=18 name=HoldTim>
        <dt>Ramp Down(Deg F/Min):
        <dd><input type=text size=18 name=DR>
        <dd><input type=submit value=Select>
      </dl>
    </form>
{% endblock %}
