{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% endif %}
  <p>Upload a csv file containing the desired gain schedule.
  <p>The file must only have 4 columns.
  <p>The first column is the error cutoff for the gain (any error less than the last number gets all gains of zero).
  <p>The second column is the proportional gain (% on per deg F error).
  <p>The third column is the integral gain (% on per deg F error accumulated).
  <p>The fourth column is the derivative gain (% on per deg F measurement decrease).
  <p>The current file should be downloaded below to edit and upload (add csv extension to use).
    <form action="{{url_for('downloadt')}}" method=post class=downloadt>
      <dl>
        <dd><input type=submit value='Current Tunings'>
      </dl>
    </form>
    <form action="{{url_for('uploadt')}}" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
{% endblock %}
